extends ./_common/html5


block append head
  +css(cssLib.materialize)
  +css(icons.materialize)
  +css("request.css")
  +js-defer(jsLib.materialize)
  +js-defer(jsLib.react)
  +js-defer(jsLib.reactDom)
  +js-defer(jsLib.cookie)
  +js-defer("request.js")


block append main
  main(id="root")
